/* ==========================================================================
   BASE
   - Headings
   ========================================================================== */

/* Headings
   ========================================================================== */

h1,.f1 { font-size: 64px; }
h2,.f2 { font-size: 48px; }
h3,.f3 { font-size: 32px; }
h4,.f4 { font-size: 24px; }
h5,.f5 { font-size: 20px; }
h6,.f6 { font-size: 16px; }



/* ==========================================================================
   OBJECTS
   - Wrappers
   ========================================================================== */

/* Wrappers
   ========================================================================== */



/* ==========================================================================
   COMPONENTS
   - Page-head
   - Page-foot
   - Buttons
   ========================================================================== */

/* Page-head
   ========================================================================== */

/*------------------------------------*\
    #BLOG-HEADER
\*------------------------------------*/

.blog-header {
    margin-top: 60px;
    text-align: center;
}

/* Page-foot
   ========================================================================== */

/* Buttons
   ========================================================================== */