/* ==========================================================================
   BASE
   - Headings
   ========================================================================== */

/* Headings
   ========================================================================== */

h6 {
  font-family: $font-family-Medium;
}

/* ==========================================================================
   OBJECTS
   - Wrappers
   ========================================================================== */

/* Wrappers
   ========================================================================== */

html, body {
  height: 100%;
}

.boxes {
  padding-top: 6em;

  section {
    margin-bottom: 4rem;
  }

}

.container {
  min-height: 100%;
  height: auto!important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

.wrapper {
  padding-top: 6em;
}



/* ==========================================================================
   COMPONENTS
   - Page-head
   - Page-content
   - Page-foot
   - Buttons
   ========================================================================== */

/* Page-head
   ========================================================================== */

/*------------------------------------*\
    #NAVBAR
\*------------------------------------*/

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0; 
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; 
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; 
}

.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .1rem;
  margin-left: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222; 
}

.navbar-title {
  font-family: $font-family-bold;
  font-size: 20px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

/*------------------------------------*\
    #SUBNAV
\*------------------------------------*/

.sub-nav {
  position: fixed;
  margin-top: .35em;
  margin-bottom: 1em;

  li {
    list-style:none;

    a {
      font-family: $font-family;
      font-size: 14px;
      color: $font-color;
      text-decoration: none;
      border-left: 2px solid transparent;
      padding-left: .25em;
    }

  }

  .sub-nav {
    li {
      a {
        padding-left: 30px;
      }
    }
  }

  .active>a,
  li>a:hover,
  li>a:focus {
    border-left: 2px solid $secondary-color;
    color: $primary-color;
  }
}

.subgroup a {
  width: 50px;
}

// a {
//     font-family: $font-family;
//     font-size: 14px;
//     color: $font-color;
//     text-decoration: none;
//     border-left: 2px solid transparent;
//     padding-left: .25em;
//   }

//   .active,
//   li:hover,
//   li.active a:hover {
//     border-left: 2px solid $secondary-color;
//     color: $primary-color;
//   }

//   li {
//     list-style:none;
//   }

@media (max-width: $larger-than-tablet) {
  .sub-nav {
    position: relative;
    padding-bottom: 3em;
    border-bottom: 1px solid $light-gray;
  }

  .sub-nav a, .sub-nav .active, .sub-nav a.active {
    border: none;
    padding-left: 0;
  }
}

/*------------------------------------*\
    #TABS
\*------------------------------------*/


/* Page-content
   ========================================================================== */

.section-header {
  margin-bottom: .5rem;
  margin-left: .5rem;
}

/*------------------------------------*\
    #BOX
\*------------------------------------*/

.box {
  padding: 2.5rem 0;
  margin: 0 .2rem;
  border: 1px solid $light-gray;
  border-radius: $global-radius;
}

.box-section {
  padding: 0 3rem;

  b {
    font-family: $font-family-Medium;
    font-weight: normal;
  }
}

.box-section #chart {
  margin-left: -2rem;
}

.login-box {
  text-align: center;
}

.sonde-selected {
  display: inline-block;
}

.sonde-color {
  width: 10px;
  height: 10px;
  display: inline-block;
}

/*------------------------------------*\
    #FORM
\*------------------------------------*/

form label {
  font-weight: normal;
}

@media (min-width: $larger-than-desktop) {
  form label {
    display: inline;
  }
}

/*------------------------------------*\
    #C3
\*------------------------------------*/

.c3 svg {
  font-family: $font-family;
  font-size: 12px;
}

.c3-tooltip tr {
  border:1px solid #CCC;
}

.c3-tooltip th {
  background-color: #aaa;
  font-size:14px;
  padding:2px 5px;
  text-align:left;
  color:#FFF;
}

.c3-tooltip td {
  font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.c3-tooltip td.value{
  text-align: right;
}

/*------------------------------------*\
    #TABLE
\*------------------------------------*/

th {
  font-family: $font-family-Medium;
  font-weight: normal;
}

/*------------------------------------*\
    #IFRAME
\*------------------------------------*/
iframe {
  border: 0;
}

/* Page-foot
   ========================================================================== */

/*------------------------------------*\
    #FOOTER-BAR
\*------------------------------------*/
.footer-bar {
  display: block;
  width: 100%;
  height: 6.5rem;
  bottom: 0;
  background: #282825;
  z-index: 99;
  text-align: center;
  color: #888;
}

.footer-list {
  list-style: none;
  margin-bottom: 0;
}

.footer-item {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.footer-link {
  font-size: 14px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #adadae; 
}

/* Buttons
   ========================================================================== */