<div class="row">
	<div class="three columns">
	<nav class="bs-docs-sidebar">
		<ul id="sidebar" class="nav sub-nav">
   		<li>
   			<a href="#GroupA">L'application web</a>
   		</li>
   		<li>
   			<a href="#GroupB">Les vues 3D</a>
				<ul>
					<li><a href="#GroupBSub1">Se deplacer</a></li>
					<li><a href="#GroupBSub2">Zoomer</a></li>
					<li><a href="#GroupBSub3">Selection</a></li>
				</ul>
   			</li>
   		<li>
   			<a href="#GroupC">Sapiente blanditiiis</a>
				<ul>
					<li><a href="#GroupCSub1">Totam pariatur</a></li>
					<li><a href="#GroupCSub2">Rerum animi</a></li>
					<li><a href="#GroupCSub3">non distinctio</a></li>
				</ul>
   		</li>
   		<li><a href="#GroupD">Corporis officia</a></li>
    </ul>
   </nav>
	</div>
	<div class="nine columns offset-by-three">
		<h1>Documentation</h1>
		<section id="GroupA" class="group">
			<h2>L'application web</h2>
			<p>Le but de cette application web est l'analyse de données géothermique. A travers une interface claire et simple d'utilisation, vous pourez analyser un ensemble de donnée prealablement acquise, grâce à differents outils( graphique, tableau de statistique )</p>
		</section>
		<section id="GroupB" class="group">
			<h2>Les vues 3D</h2>
			<div class="subgroup" id="GroupBSub1">
				<h6>Se deplacer</h6>
				<p>Pour se deplacer dans la vue 3D, vous devez utiliser la souris. Le clic gauche permet de faire tourner l'ensemble de la vue 3D autour du points centrale. Le clic droit quant a lui permet de deplacer la vue lateralement.</p>
			</div>
			<div class="subgroup" id="GroupBSub2">
				<h6>Zoomer</h6>
				<p>Pour zommer dans la vue 3D, vous devez utiliser la molette. Pour zoomer en avant il faut faire tourner la roulette vers le haut ou appuier sur le bouton "Zoom +". Pour dezoomer il faut faire tourner la roulette vers le bas ou appuier sur le bouton "Zoom -". Pour reinitialiser le zoom cliquez sur bouton "reset".</p>
			</div>
			<div class="subgroup" id="GroupBSub3">
				<h6>Selection</h6>
				<p>Les vues 3D represent les dispositifs reels. Grace a ces vue 3D vous pouvez selectioner les capteurs dont vous voulez anyliser les données. Pour selectioner un capteur, il suffit de cliquer dessus. Pour selectioner plusieurs capteurs, cliquez sur l'ensemble des capteurs que vous voulez selectioner. Les capteurs selectionné s'ajout automatiquement au graphique et au tableau de statistique. Pour deselectioner un capteur il suffit de recliquer dessus. </p>
			</div>
		</section>
		<section id="GroupC" class="group">
			<h2>Sapiente blanditiis</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsam maxime sed sint reiciendis alias, natus magnam, id provident excepturi animi. Repudiandae nihil necessitatibus cumque reprehenderit animi consequatur dolore.</p>
			<div class="subgroup" id="GroupCSub1">
				<h6>Totam pariatur</h6>
				<p>laborum repellat, totam pariatur minima temporibus sit dolores, quas quaerat recusandae non distinctio ipsam fugiat delectus saepe cupiditate itaque. Atque neque at deleniti ab quis quos libero autem veritatis ad dolores commodi modi, laborum, consequatur blanditiis nisi iste ut aut tempore sequi aperiam porro, repellat. Debitis tempore, cum, numquam nisi commodi magnam dolor sint rem! Iusto, necessitatibus debitis, temporibus ullam aliquam.</p>
			</div>
			<div class="subgroup" id="GroupCSub2">
				<h6>Rerum animi</h6> 
				<p>adipisci voluptatum iste maiores quasi at earum ipsa exercitationem magni mollitia qui aspernatur. <img src="assets/images/3D-debug.png" alt="testimage" class="responsive-image">Iste libero illum, sequi aliquid quia corporis officia. Repellat, amet facere modi commodi eius omnis!</p>
			</div>
			<div class="subgroup" id="GroupCSub3">
				<h6>Rnon distinctio</h6> 
				<p>adipisci voluptatum iste maiores quasi at earum ipsa exercitationem magni mollitia qui aspernatur. <img src="assets/images/3D-debug.png" alt="testimage" class="responsive-image">Iste libero illum, sequi aliquid quia corporis officia. Repellat, amet facere modi commodi eius omnis!</p>
			</div>
		</section>
		<section id="GroupD" class="group">
			<h2>Corporis officia</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque officiis doloremque, rem eligendi omnis, blanditiis nemo vel corporis aliquam perferendis autem asperiores iusto recusandae nostrum repudiandae fugit. In at possimus, eligendi alias saepe, eaque vel velit. Similique necessitatibus reprehenderit pariatur, neque rem, impedit explicabo animi sunt accusantium, placeat ipsum! Eum fugiat id, perferendis repellat quos vero rerum minima sunt ullam minus aliquid facilis, consectetur recusandae. Maxime animi, exercitationem pariatur incidunt aut velit sapiente commodi, et ut aliquid culpa molestias impedit.</p>
		</section>
	</div>
</div>
<div class="push"></div>